* {
    border: 1px dashed black;
}

/* .menu {
    background-color: aqua;
    height: 100%;
    width: 30px;
} */

/* .logo {
    background-color: aqua;
    height: 100%;
    width: 30px;
}

.accedi {
    background-color: aqua;
    height: 100%;
    width: 30px;
} */

.big-container {
    background-color: bisque;
}

.card {
    background-color: greenyellow;
}

.image {
    background-color: violet;
}

.description {
    background-color: blue;
}


.footer-container {
    
}

/* footer .link-bottom {
    background-color: azure;
    height: 1.5rem;
    width: 60px;
}

footer .social {
    background-color: azure;
    height: 1.5rem;
    width: 60px;
} */