/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --bg-nav: #FF6900;
    --bg-footer: #000000;
}

html {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

/* general styles */

a {
    text-decoration: none;
    color: #FFFF;
}


/* header */

/* navbar */

header {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 3rem;
    background-color: var(--bg-nav)
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 800px;
}

.menu {
    display: flex;
    font-size: 13px;
    flex: 1 0 0;
}

.menu a {
    display: flex;
    align-items: center;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-weight: bold;
}

.menu a:hover {
    background-color: black;
    opacity: 0.2;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50%;
}

.accedi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    color: #FFFF;
    height: 100%;
}

.accedi i {
    padding: 0 0.4em;
}

/* main */

.big-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-inline: auto;
    padding-top: 5rem;
    max-width: 800px;
}

.card {
    padding: 1rem .5rem;
    flex: 0 0 calc(100% / 3);
    /* height: 420px; */
}

.image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.6;
    overflow: hidden;
}

.image img {
    /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image .front-img {
    position: absolute;
    top: 0;
    left: 0;
}

.image:hover .front-img{
    opacity: 0;
    transition: all 1s;
}

.tag-description {
    position: relative;
    height: 15%;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1;
    background-color: #FFFF;
    height: 2rem;
    width: 2rem;
}

.heart:hover {
    cursor: pointer;
    color: red;
}

.tag-box {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
}

.tag {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 0.3em;
    padding: 0.1em 1em;
    color: #FFFF;
    font-size: 10px;
    width: fit-content;
}

.tag.sconto {
    background-color: red;
}

.tag.green {
    background-color: green;
}

.description div {
    width: fit-content;
}

.description .marca {
    font-size: 11px;
}

.description .nome {
    font-weight: bold;
}

.description .prezzo {
    display: inline-block;
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.description .vecchio-prezzo {
    display: inline-block;
    font-size: 12px;
    text-decoration: line-through;
}


/* footer */

footer {
    background-color: var(--bg-footer);
    height: 4.5rem;
    align-items: center;
    margin-top: 4rem;
}

.footer-container {
    width: 800px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-bottom {
    color: #FFFF;
}

.link-list span {
    margin-right: 0.8em;
}

.link-bottom div {
    font-weight: bold;
}

.link-bottom a {
    font-size: 12px;
    border-right: 1.5rem;
}

footer .social {
    color: #FFFF;
    text-align: right;
}