/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

/* general styles */

a {
    text-decoration: none;
}


/* header */

/* navbar */

header {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FF6900;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 800px;
}

.menu {
    display: flex;
    font-size: 13px;
}

.menu a {
    display: flex;
    align-items: center;
    color: #FFFF;
    height: 100%;
    padding-right: 0.4em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50%;
}

.accedi {
    display: flex;
    align-items: center;
    color: #FFFF;
    height: 100%;
}

.accedi i {
    margin-left: 0.5em;
}

/* main */

.big-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: auto;
    padding-top: 5rem;
    max-width: 800px;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image {
    display: flex;
    flex-direction: row-reverse;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: .2rem;
    background-color: #FFFF;
    height: 2rem;
    width: 2rem;
}

.tag-box {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2rem;
    background-color: #FFFF;
    height: 1rem;
    width: 50%;
    
}

.tag {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 0.3em;
    padding: 0 1em;
    color: #FFFF;
    font-size: 10px;
    width: fit-content;
}

.tag.sconto {
    background-color: red;
}

.tag.green {
    background-color: green;
}

/* footer */

footer {
    background-color: black;
    height: 3.5rem;
    align-items: center;
}

.footer-container {
    width: 800px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}